*
!/**/
!*.*
!Makefile

*.log*
*.g0
*.co
*~
*.o

input/*/
*.tar.gz
*.tgz
metis*

*flymake.c
*flymake.h


CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

check.m
bin
mpk-paper*

*_minted*
ltximg
*.pdf
*.tex


