*
!/**/
!*.*
!Makefile

!Doxyfile

!CMakeLists.txt

*.log*
*.g0
*.co
*.loop.g0
*.val
*.mtx
*~
*.o

input/*/
*.tar.gz
*.tgz

*flymake.c
*flymake.h

check.m
bin
build
mpk-paper*

*_minted*
ltximg
*.pdf
*.synctex.gz
*.aux

.ccls-cache
build