*
!/**/
!*.*

*~
*.o
.*

input/*/
*.tar.gz
*.tgz
metis*

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

check.m
bin
mpk-paper*

*_minted*
ltximg
*.pdf
*.tex


